
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; 
}
body{
  color: white;
  background: #333;
}
.bg-img {
  background-image: url('./img/pexels-photo-248515.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  background-position: center;
  z-index: -1;
  opacity: 0.4;
  position: absolute;
  overflow: hidden;
}
header {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
  align-items: center;
  font-size: 25px;
  font-size: x-large;
  width: 50%;
}
.wrapper h1, p, .more {
  margin-top: 50px;
}
.more {
  align-items: center;
  width: 160px;
  height: 63px;
  border: 1px solid white;
  color:white;
  background-color:#333;
  font-size: 20px;
}
.more:hover {
  background: white;
  color: black;
  cursor: pointer;
}
#web {
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: white;
  color: black;
  padding-top: 50px;
  font-size: 20px;
}
.web {
  display: grid;
  grid-template-columns: auto auto ;
  width: 50%;
  margin: 0 auto;
  column-gap: 30px;
  line-height: 1.7;
}
img {
  width: 272px;
  height: 180px;
}
#content {
 width: 100%;
}
.card {
  width: 90%;
  text-align: center;
  background-color: white;
  color: black;
  height: 450px;
  line-height: 1.7;
}
.card h3 {
  margin-top: 30px;
  font-size: 25px;
}
.cardconteiner {
  height: 600px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width: 50%;
  align-items: center;
}
#webDevel {
  width: 100%;
  background-color: white;
  color: black;
  height: 250px;
  text-align: center;
  padding-top: 50px;
}
h2 {
  font-size: 30px;
}
.lorem {
  width: 40%;
  line-height: 1.7;
  font-size: 20px;
}
#aboutCompany {
  display: grid;
  grid-template-columns: auto auto;
  height: 300px;
  width: 100%;
}
.contactUp {
  background-color: rgb(0, 129, 211);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.7;
  width: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
  color:rgb(3, 47, 141);
  font-size: 20px;
}
span {
  width: 50%;
  font-size: 20px;
}
.about {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.7;
  overflow: hidden;
}
footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  grid-gap: 50px;
}
.project {
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.project a {
  color:rgb(0, 129, 211);
}
@media screen and (max-width: 700px) {
 header {
  min-width: 100%;
  height: 450px;
  overflow: hidden;
  }
  .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 550px;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
    overflow: hidden;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper h1 {
    font-size: 40px;
  }
  .wrapper p {
    font-size: 20px;
  }
  #conteiner {
    width: 100%;
  }
  #web {
    height: 500px;

  }
  .web {
    display: grid;
    grid-template-columns: auto;
  }
  .web p {
    margin-top: 20px;
  }
  #content {
    width: 100%;
  }
  .cardconteiner {
    display: grid;
    grid-template-columns: auto;
    height: 1450px;
    width: 80%;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 433px;
    height: 230px;
  }
  .card p, h3 {
    margin-top: 20px;
    
  }
  .lorem {
    width: 80%;
  }
  #webDevel {
    width: 100%;
    height: 300px;
  }
  #aboutCompany {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    height: 600px;
  }
  span {
    width: 80%;
  }
  .lorem p, h2 {
    margin-top: 30px;
  }
  
 }

